flows.json
[{"id":"a357688c.fcf7c8","type":"function","z":"37508f1f.b6d7d","name":"output data from bakery db","func":"// get username and password from client\n\nvar username = msg.payload.username;\nvar password = msg.payload.password;\n\nvar sql = \"select * from user where username = 'd1' and password ='d2'\"\n\nsql = sql.replace(\"d1\", username);\nsql = sql.replace(\"d2\", password);\n //step2: just assing the query string to\n \nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":220,"wires":[["af8b341d.c55cf8","9931b2e6.a8de"]]},{"id":"e4aae48e.387848","type":"http in","z":"37508f1f.b6d7d","name":"","url":"/login2","method":"post","upload":false,"swaggerDoc":"","x":990,"y":220,"wires":[["a357688c.fcf7c8"]]},{"id":"459bf405.871b8c","type":"http response","z":"37508f1f.b6d7d","name":"","statusCode":"","headers":{},"x":1990,"y":220,"wires":[]},{"id":"af8b341d.c55cf8","type":"mysql","z":"37508f1f.b6d7d","mydb":"16032fec.d1a2d","name":"bakery_shop","x":1590,"y":220,"wires":[["604a6f8c.ed221"]]},{"id":"9931b2e6.a8de","type":"debug","z":"37508f1f.b6d7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":380,"wires":[]},{"id":"3f5d3814.8fede8","type":"debug","z":"37508f1f.b6d7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1990,"y":360,"wires":[]},{"id":"604a6f8c.ed221","type":"function","z":"37508f1f.b6d7d","name":"","func":"var list = msg.payload;\n\n var res = \"no\";\n\n var object;\n \nif(list === undefined || list.length === 0) {\n\n     object = res;\n\n }else{\n\n      res =\"yes\";\n\n     object = {\n\n         cus_id: list[0][\"no\"],\n\n         cus_username: list[0][\"username\"],\n\n         res: res,\n\n\n     }\n\n }\n \n msg.payload = object;\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":220,"wires":[["459bf405.871b8c","3f5d3814.8fede8"]]},{"id":"479dd272.80ffdc","type":"http in","z":"37508f1f.b6d7d","name":"","url":"/myshop","method":"get","upload":false,"swaggerDoc":"","x":990,"y":500,"wires":[["c81d40b7.73f6c","7051a5ca.ad034c"]]},{"id":"3d9d11df.0c95ee","type":"http response","z":"37508f1f.b6d7d","name":"","statusCode":"","headers":{},"x":1650,"y":500,"wires":[]},{"id":"c81d40b7.73f6c","type":"function","z":"37508f1f.b6d7d","name":"output data from bakery db","func":" //step1: create a query string\n var sql = \"select * from dessert\";\n //step2: just assing the query string to\n msg.topic =sql;\n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":500,"wires":[["5d4205b9.5fd82c"]]},{"id":"5d4205b9.5fd82c","type":"mysql","z":"37508f1f.b6d7d","mydb":"16032fec.d1a2d","name":"","x":1510,"y":500,"wires":[["3d9d11df.0c95ee"]]},{"id":"7051a5ca.ad034c","type":"debug","z":"37508f1f.b6d7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":560,"wires":[]},{"id":"52c3f597.739cfc","type":"http in","z":"37508f1f.b6d7d","name":"","url":"/makeorder","method":"post","upload":false,"swaggerDoc":"","x":1030,"y":760,"wires":[["7937f7c8.f89868","efca9310.61135"]]},{"id":"c2d1fa57.e23338","type":"http response","z":"37508f1f.b6d7d","name":"","statusCode":"","headers":{},"x":1770,"y":760,"wires":[]},{"id":"a533346a.9db3e8","type":"mysql","z":"37508f1f.b6d7d","mydb":"16032fec.d1a2d","name":"","x":1370,"y":760,"wires":[["72c5c271.05bacc"]]},{"id":"efca9310.61135","type":"debug","z":"37508f1f.b6d7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":880,"wires":[]},{"id":"72c5c271.05bacc","type":"function","z":"37508f1f.b6d7d","name":"output message","func":"var result = msg.payload;\nvar response = \"\";\nif(result.affectedRows >=1){\n    response=\"data is saved\";\n}\nelse{\n    response = \"fail\";\n}\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":760,"wires":[["c2d1fa57.e23338"]]},{"id":"7937f7c8.f89868","type":"function","z":"37508f1f.b6d7d","name":"","func":"var data = msg.payload;\nvar customer_id = data.customer_id;\nvar cmd = \"insert into p_order(no,customer_id,product_id,quantity,total) value(null,'d1','d2','d3','d4');\";\nvar items = data.orderFoods;\nvar sql = \"\";\nfor(var i=0;i< items.length;i++){\n    var temp = cmd;\n    temp = temp.replace(\"d1\",customer_id);\n    temp = temp.replace('d2',items[i].food.no);\n    temp = temp.replace(\"d3\",items[i].quantity);\n    temp = temp.replace(\"d4\",items[i].quantity*items[i].food.price);\n    sql += temp;\n    \n}//eloop\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":760,"wires":[["a533346a.9db3e8","f7cd9d45.0369f"]]},{"id":"f7cd9d45.0369f","type":"debug","z":"37508f1f.b6d7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1580,"y":880,"wires":[]},{"id":"16032fec.d1a2d","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"bakery_shop","tz":""}]